<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855529549172-kgit86frovk6uj604j33f79pk0dqq80q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855529549172-kgit86frovk6uj604j33f79pk0dqq80q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>855529549172-trhet8nblgkapfemstit5537nj1immqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDN0HVkl6xycnujRhtswZXTKIuxOFd-6C8</string>
	<key>GCM_SENDER_ID</key>
	<string>855529549172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pdpconference</string>
	<key>PROJECT_ID</key>
	<string>pdp-conference-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>pdp-conference-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855529549172:ios:421ea4b54676d4d82b1021</string>
</dict>
</plist>